 <div ng-controller="permisosController" class="contenedor"> 
     <div class="row white">
         <div class="col s12 z-depth-1">
             <div class="contenedor">
                 <div class="row">
                     <div class="col s12">
                         <h2>Informe de  Permisos</h2>  
                     </div>

                     <div class="col s4">
                        
                         <div style='width:32px;float: left'>
                          <i class="material-icons left">search</i>
                         </div>
                           <div style='float: left'>
                         <small>Buscador</small>
                          </div>
                         <input id="search" type="text" placeholder="Item" ng-model="filtro" required>
                        
                     </div>
                 </div>   
                 <div class="row">
                     <div class="col s12">
                        <table class="bordered striped">
                            <thead> 
                            <tr>
 
                                <th width='32px'></th>
                                <th>Funcionario</th>
                                <th>Fecha de Salida</th>
                                <th>Hora de Salida</th>
                                <th>Fecha de Retorno</th>
                                <th>Hora de Retorno</th>
                                <th>Tipo Permiso</th>
                                <th>Otro Motivo</th>
                                <th>Remuneracion</th>
                                <th>Autorizacion Jefe de Area</th>
                                <th>Autorizacion Camara</th>
                                <th>Estado</th>
                            </tr>
                            </thead>
                            <tbody style="height:100px;overflow-y: auto;">
                                <tr ng-repeat="item in listaPermisos | filter: filtro" page-size="20" tolerance="100" >
                                    <td>
                                   <img src="blob.php?id={{item.noDocumento}}" alt="Contact Person" class='profile'>
                                    </td>
                                    <td>{{item.nombres}} {{item.apellidos}}</td>
                                    <td>{{item.fechaSalida}}</td>
                                    <td>{{item.horaSalida}}</td>
                                    <td>{{item.fechaEntrada}}</td>
                                    <td>{{item.horaEntrada}}</td>
                                    <td>{{item.nombrePermiso}}</td>
                                    <td>{{item.otroMotivo}}</td>
                                    <td>{{item.remuneracion}}</td>
                                    <td ng-if="item.vistoJefe =='1'"><i class="material-icons" style="color:#558B2F;">done</i></td>
                                    <td ng-if="item.vistoJefe =='0'"><i class="material-icons" style="color:#F44336;">clear</i></td>
                                    <td ng-if="item.vistoAutoriza =='1'"><i class="material-icons" style="color:#558B2F;">done</i></td>
                                    <td ng-if="item.vistoAutoriza =='0'"><button class="waves-effect waves-light btn-improvised" ng-click="actualizarPermiso(item.id)"><i class="material-icons center"></i></button></td>
                                    <td>{{item.estado}}</td>
                                </tr>
                            </tbody>
                        </table>
                            
                     </div>
                
                   </div>
                 </div>
             </div>
         </div>
     </div>
     

