 <div ng-controller="permisosController" class="contenedor"> 
     <div class="row white">
         <div class="col s12 z-depth-1">
             <div class="contenedor">
                 <div class="row">
                     <div class="col s12">
                         <h2>Informe de  Permisos</h2>  
                     </div>

                     <div class="col s4">
                        
                         <div style='width:32px;float: left'>
                          <i class="material-icons left">search</i>
                         </div>
                           <div style='float: left'>
                         <small>Buscador</small>
                          </div>
                         <input id="search" type="text" placeholder="Item" ng-model="filtro" required>
                        
                     </div>
                 </div>   
                 <div class="row">
                     <div class="col s12">
                        <table class="bordered striped">
                            <thead> 
                            <tr>
 
                                <th width='32px'></th>
                                <th>Funcionario</th>
                                <th>Fecha de Salida</th>
                                <th>Hora de Salida</th>
                                <th>Fecha de Retorno</th>
                                <th>Hora de Retorno</th>
                                <th>Tipo Permiso</th>
                                <th>Otro Motivo</th>
                                <th>Remuneracion</th>
                                <th>Autorizacion Jefe de Area</th>
                                <th>Autorizacion Camara</th>
                                <th>Estado</th>
                            </tr>
                            </thead>
                            <tbody style="height:100px;overflow-y: auto;">
                                <tr ng-repeat="item in listaPermisos | filter: filtro" page-size="20" tolerance="100" >
                                    <td>
                                   <img src="blob.php?id={{item.noDocumento}}" alt="Contact Person" class='profile'>
                                    </td>
                                    <td>{{item.nombres}} {{item.apellidos}}</td>
                                    <td>{{item.fechaSalida}}</td>
                                    <td>{{item.horaSalida}}</td>
                                    <td>{{item.fechaEntrada}}</td>
                                    <td>{{item.horaEntrada}}</td>
                                    <td>{{item.nombrePermiso}}</td>
                                    <td>{{item.otroMotivo}}</td>
                                    <td>{{item.remuneracion}}</td>
                                    <td ng-if="item.vistoJefe =='1'"><i class="material-icons" style="color:#558B2F;">done</i></td>
                                    <td ng-if="item.vistoJefe =='undefined'"><i class="material-icons" style="color:#F44336;">clear</i></td>
                                    <td ng-if="item.vistoAutoriza =='true'"><i class="material-icons" style="color:#558B2F;">done</i></td>
                                    <td ng-if="item.vistoAutoriza =='1'"><i class="material-icons" style="color:#F44336;">clear</i></td>
                                    <td>{{item.estado}}</td>
                                </tr>
                            </tbody>
                        </table>
                            
                     </div>
                
                   </div>
                 </div>
             </div>
         </div>
     </div>
     
      <div id="modalFuncionarioDetalles" class="modal modal-fixed-footer" style="width: 90%;min-height:85%;">
            <div class="modal-content">
                <h2>{{title}}</h2>
                    <div class="row">
                        <div class="col s2">
                              <img src="blob.php?id={{empleado.noDocumento}}" alt="Contact Person" class='profile-big '>
                            
                            <div style="margin-top:-10px">
                            <p>C.C {{empleado.noDocumento}}</p>
                            <p style="font-weight:900;margin-top:-16px;">{{empleado.nombres}} {{empleado.apellidos}}</p>
                            <p style="margin-top:-16px;">{{empleado.nombre}}</p>
                            </div>
                            <h2><i class="material-icons left" style="color:#ff1744;">favorite</i>{{puntajeTotal}}</h2>
                        </div>
                         <div class="col s5 z-depth-1">
                                <div class="row">
                                <div class="col s2">
                                    <h2>E/S</h2>
                                </div>
                                    <div class="col s5">
                                          <div>
                                        <small>Por Dia:</small>
                                         </div>
                                        <input type="date" id="fechaConsulta" name="input" ng-model="fechaConsulta" ng-change="getEntradaSalida(empleado.id)"  required />
                                    </div>
                                    <div class="col s5">
                                          <div>
                                        <small>Por Mes:</small>
                                         </div>
                                           <select ng-model="fecha" class="browser-default" name="mes" id="mes" ng-change="getPorMes()" required>
                                            <option value="{{mes.id}}" ng-repeat="mes in Meses" > {{mes.nombre}}</option>
                                        </select> 
                                    </div>
                                </div>
                        <table class="bordered striped ">
                            <thead> 
                            <tr>
                                <th>fecha</th>
                                <th>Jornada</th>
                                <th>Hora llegada</th>
                                <th>Retraso</th>
                                <th>Puntaje</th>   
                            </tr>
                            </thead>
                            <tbody id="ES" style="height:100px;overflow-y: auto;">
                                
                            </tbody>
                        </table>
                             </br>
                     </div>
                        <div class="z-depth-1" style="width:41%; margin-left: 0.6666%; float:left">
                             <div class="row">
                                <div class="col s3">
                                    <h2>Permisos</h2>
                                </div>
                                    <div class="col s4">
                                          <div>
                                        <small>Por Dia:</small>
                                         </div>
                                        <input type="date" id="fechaConsulta" name="input" ng-model="fechaConsultaPermiso.value" ng-change="getEntradaSalida(empleado.id)"  required />
                                    </div>
                                    <div class="col s5">
                                          <div>
                                        <small>Por Mes:</small>
                                         </div>
                                           <select ng-model="fecha" class="browser-default" name="mes" id="mes" ng-change="getPorMes()" required>
                                            <option value="{{mes.id}}" ng-repeat="mes in Meses" > {{mes.nombre}}</option>
                                        </select> 
                                    </div>
                                </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red " style="margin-left:10px;">Salir</a>
            </div>
        </div>
     
     
     </div>

