<div  ng-controller="archivosController" class="contenedor" > 

            <div class="contenedor">
                <div class="row">
                    <div id="mapa">
                         <div style="width:40%;position: absolute;margin-left:5%;margin-top:0px;zoom:85%;">
                <center>     
                    <div class="title animated bounceIn">
                        PROCESOS DE DIRECCIONAMIENTO
                    </div>
                </center>

                <div style="margin-top: 22px;">
                    <div class="line l1"></div>
                     <div class="line l2"></div>
<!--#/gestionCalidad/proceso-->

             <a href='#/gestionCalidad/proceso' ng-click='direccionarProcesos(1)'><div class="circle_ izq animated bounceIn" >
                        Planeaciòn estrategica del SGC
                        </div>
                     </a>
                   <a href='#/gestionCalidad/proceso' ng-click='direccionarProcesos(2)'> <div class="circle_ der animated bounceIn"><br>
                        Seguimiento y mejora
                    </div>
                   </a>
                </div>
                
                    <div class="line l3"></div>
                    <div class="line l4"></div>
                 
                     <div style="margin-top: 160px;position: fixed;margin-left: 256px;" class="animated bounceIn">
                        <p style="color:#000;font-weight: 900;margin-top:-30px;margin-left:60px;position:fixed">PROCESOS MISIONALES</p> 
                        <div class="centro">
                            <a href='#/gestionCalidad/proceso' ng-click='direccionarProcesos(3)' style='color:#fff;'><p style="color:#000000;font-weight:900">REGISTROS PÚBLICOS</p>
                                Mercantil - EsaDL<br> proponentes<br></a>
                           <a href='#/gestionCalidad/proceso' ng-click='direccionarProcesos(4)' style='color:#fff;'> <p style="color:#000000;font-weight:900">DESARROLLO EMPRESARIAL<br></p>
                               Logistica y eventos<br>Capacitaciones de interes general<br></a>
                        </div>
                         
                    </div>
                 
                    <div class="line l5"></div>
                    <div class="line l6"></div>
                    
                   <div class="circle_2 izq_2 animated bounceIn" style="margin-left:0px;">
                    <p style="margin-top:-50px;color:#c3c3c3;font-weight:900">Clientes</p><br><br>
                    <span style="font-size: 14px;"> Necesidades y expectativas</span>
                </div>
                    
                     
                <div class="circle_2 der_2 animated bounceIn"  style="margin-right:0px;">
                    <p style="margin-top:-50px;color:#c3c3c3;font-weight:900">Clientes</p><br><br>
                    <span style="font-size: 17px;">Satisfacción</span>
                </div>
                    
                    
                      <div class="line l7"></div>
                    <div class="line l8"></div>
                    
                     <div style="margin-top: 440px; font-weight: 900;position: fixed" class="animated bounceIn">
                         <center style="margin-left:40px;">PROCESOS DE APOYO</center><br>
                        <div class="footer">
                            <table width="100%" style="text-align: center;">
                                <tr>
                                    <td style="text-align: center;">  <a href='#/gestionCalidad/proceso' ng-click='direccionarProcesos(5)' style='color:#212121;'>Gestión Tecnológica<br>de la informacion</a></td>
                                    <td style="text-align: center;">  <a href='#/gestionCalidad/proceso' ng-click='direccionarProcesos(6)' style='color:#212121;'>Gestión del Talento <br>Humano</a></td>
                                    <td style="text-align: center;">  <a href='#/gestionCalidad/proceso' ng-click='direccionarProcesos(7)' style='color:#212121;'>Gestión del  <br>Infraestructura</a></td>
                                    <td style="text-align: center;">  <a href='#/gestionCalidad/proceso' ng-click='direccionarProcesos(8)' style='color:#212121;'>Gestión del  <br>compras</a></td>
                                </tr>    
                            </table>
                        </div>
                    </div>
        </div>
                        <div style="margin-left:60%; width: 20%;position: absolute;">
                            <div class="row white" style="height:100%;">
                                <div class="col s12 z-depth-1">
                                    <div class="contenedor">
                                        <table>
                                            <tr>
                                                <td><i class="material-icons" style="color:#21418E">forward</i></td>
                                                <td><a href="#/gestionCalidad/manual"> Manual de Calidad</a></td>
                                            </tr>
                                            <tr>
                                                <td><i class="material-icons" style="color:#21418E">forward</i></td>
                                                <td><a href="#/gestionCalidad/manualProceso"> Manuales de Procedimiento</a></td>
                                            </tr>
                                            <tr>   
                                                <td><i class="material-icons" style="color:#21418E">forward</i></td>
                                                <td><a href="#/gestionCalidad/listadoInterno"> Listado Maestro de Documentos Internos</a></td>
                                            </tr>
                                            <tr>
                                            <td><i class="material-icons" style="color:#21418E">forward</i></td>
                                            <td><a  href="#/gestionCalidad/listadoExterno"  > Listado Maestro de Documentos Externos</a></td>
                                        </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
   
</div> 
